@import 'variables';

button.btn {
	color: whitesmoke;


}

button.create {
	border: 3px solid green;
	background-color: #000;
}

button.edit {
	border: 3px solid #000;
	background-color: #263780;
}

button.delete {
	border: 3px solid #000;
	background-color: #C41913;
}

button.submit {
	border: 1px solid turquoise;
	background-color: #C41913;
}

button.clear {
	border: 1px solid #000;
	background-color: #504D4D;
}

.grouped-buttons {
	display: flex;

	button {
		flex-basis: 1;
		margin: auto;
		box-sizing: border-box;
	}
}

// .align-left {
// 	display: inline-block;
// 	margin-left: 5%;
// 	margin-right: 30%;
// 	width: 15%;
// 	box-sizing: border-box;
// 	padding: .5em;
// }

// .align-right {
// 	display: inline-block;
// 	margin-right: 5%;
// 	margin-left: 30%;
// 	width: 15%;
// 	box-sizing: border-box;
// 	padding: .5em;
// }