@import 'variables';

button:hover {
  cursor: pointer;
}

button:focus { 
	outline: 0;
}

.home-page-button {
  display: flex;
	justify-content: space-between;
	position: fixed;
	margin-left: 70%;
	margin-top: 2em;;

  ul {
    display: flex;

    li {
      padding: 5px;
      margin: 5px;
    }
  }
}

button.btn {
	color: $adt;
	transition: box-shadow 0.3s, text-shadow 0.3s;
}


// buttons used repeatedly throughout the app
button.create {
	border: 1px solid $abz;
	background-color: $ada;
	float: right;
	margin-right: 1em;
	margin-right: 2em;
}

button.edit {
	border: 1px solid $abz;
	background-color: $adk;
	float: right;
	margin-right: 1em;
}

button.delete {
	border: 1px solid $abz;
	background-color: $ado;
}

button.toggle {
	border: 1px solid $abz;
	background-color: $acy;
}

button.add {
	border: 1px solid $abz;
	background-color: $adl;
}

button.buy {
	border: 1px solid $abz;
	background-color: $afm;
}

button.submit {
	border: 1px solid $abz;
	background-color: $ada;
}

button.clear {
	border: 1px solid $abz;
	background-color: $ada;
}

button.cancel {
	border: 1px solid $abz;
	background-color: $ada;
}

.grouped-buttons {
	display: flex;
	justify-content: space-between;
	
	.lefty {
		flex: 1;
	}

	.righty {
		flex: 1;
	}

	.blank {
		flex: 3;
	}
	
	button {
		flex-basis: 1;
		margin: auto;
		box-sizing: border-box;
	}
}


// homepage message
.message-cancel {
	margin-left: 12.8em;
	background-color: $salmon !important;
}

div.message-div h2 {
	text-align: center;
}

// signup buton
button.signup {
  color: white;
  border: .2em solid $antiquewhite;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 30px;
  transition: box-shadow 0.3s, text-shadow 0.3s;
}

button.signup:hover {
  box-shadow: 0 0 5px $white, 0 0 5px $white inset;
  border-radius: 5px;
  text-shadow: 0 0 2px $white;
}

button.login {
  background: black;
  color: white;
  border-radius: 5px;
  font-weight: 300;
	padding: 5px 10px;
	border: .2em solid $aquamarine;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
  margin-right: 10px;
}

button.login:hover {
  box-shadow: 0 0 5px $white, 0 0 5px $white inset;
  border-radius: 5px;
  text-shadow: 0 0 2px $white;
}