@import 'variables';

.footer {
  height: 10em;
  padding: 3em 0 6em;
  margin-top: 6em;
  background-color: $abd;
  font-size: 16px;
}

.footer p {
  float: left;
  width: 33%;
}

.a-center {
  text-align: center;
}

.footer a {
	color: $aco;
	text-decoration: none !important;
}

.a-right {
  text-align: right;
}