@import 'variables';

p.auth-errors {
  color: red;
}

div.homepage {
  width: 99.5%;
  margin: 0 auto;
  display: flex;
	flex-direction: column;
	margin-bottom: 65px;

  section.homepage-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
    padding-bottom: 50px;
  }
}

main.homepage-info {
  background-size: cover;
  background-position: center;
  margin-bottom: .1em;
  height: 600px;
  width: 100%;
  display: flex;
	flex-direction: column;
	margin-top: 2.5em;
	background-image: url('https://res.cloudinary.com/swy/image/upload/v1502331338/001-slipcase-box-dust-jacket-hardcover-book-stationery-mockup-psd-presentation-isometric-free_dkfrzm.jpg');
	// background-image: url('https://res.cloudinary.com/swy/image/upload/v1499749858/images/university.svg');
}

.homepage-description {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background:hsla(0,0%,0%, 0.3);

  h1 {
    font-weight: 300;
    font-size: 34px;
    margin: 10px;
    color: white;
  }

  p {
    font-size: 17px;
    font-family: Courier New, Courier, monospace;
    text-align: left;
    color: solid black;
    margin-top: 1em;
    margin-left: 11em;
    margin-right: 10em;
    margin-bottom: 1em;
  }
}


.placeholder-text {
	h3 {
		color: seagreen;
		text-align: center !important;
		margin: 2em;
	}

	p {
  font-size: 14px;
	color: $abl;
	}
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-spacing: 0;
  font-family: Open Sans;
  font-size: 16px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:focus { outline: 0 }


.home-page-button {
  display: flex;
	justify-content: space-between;
	position: fixed;
	margin-left: 70%;

  ul {
    display: flex;

    li {
      padding: 5px;
      margin: 5px;
    }
  }
}


//signup buton
button.signup {
  color: white;
  border: .2em solid antiquewhite;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 30px;
  transition: box-shadow 0.3s, text-shadow 0.3s;
}

button.signup:hover {
  box-shadow: 0 0 5px white, 0 0 5px white inset;
  border-radius: 5px;
  text-shadow: 0 0 2px white;
}

button.login {
  background: black;
  color: white;
  border-radius: 5px;
  font-weight: 300;
	padding: 5px 10px;
	border: .2em solid aquamarine;
  font-size: 14px;
  transition: text-shadow 0.3s;
  margin-top: 30px;
  margin-right: 10px;
}

button.login:hover {
  box-shadow: 0 0 5px white, 0 0 5px white inset;
  border-radius: 5px;
  text-shadow: 0 0 2px white;
}


// temporary. will be removed or replaced later
.swyinfo {
  position: absolute;
  max-width: 100px;
  left: 5%;
  margin-top: 30px;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  font-size: 14px;
  transition: box-shadow 0.3s, text-shadow 0.3s;
  padding: 5px 15px 5px 15px;
  border: .2em solid aquamarine;
}

.swyinfo:hover {
  box-shadow: 0 0 5px white, 0 0 5px white inset;
  border-radius: 5px;
  text-shadow: 0 0 2px white;
}
