@import 'variables';

div.homepage {
  width: 99.5%;
  margin: 0 auto;
  display: flex;
	flex-direction: column;

	.easthalo {
		display: flex;
		position: fixed;
		margin-right: 70%;
		margin-top: 5em;
		padding: .5em;
		font-weight: bold;
		color: $white;
		border: 2px solid $abz;
		margin-left: 5%;
	}
}


main.homepage-info {
  background-size: cover;
  background-position: center;
  margin-bottom: .1em;
  height: 600px;
  width: 100%;
  display: flex;
	flex-direction: column;
	margin-top: 2.5em;
	background-image: url('https://res.cloudinary.com/swy/image/upload/v1499750402/images/pexels-photo-187334.jpg');

	.homepage-description {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		padding-bottom: 30px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background:hsla(0,0%,0%, 0.3);
	
	
		p {
			font-size: 1em;
			font-family: Courier New, Courier, monospace;
			text-align: left;
			color: solid black;
			margin: 1em 10em;
		}

		.placeholder-text {
			h3 {
				color: $afn;
				text-align: center !important;
				margin: 2em;
			}
		}

		.home-page-para {
			max-width: 45em;
			background-color: $white;
			padding: .1em;
			opacity: 0.8;
		
			p {
				font-weight: bold;
				color: $aac;
			}
		}
	}
}


section.homepage-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 2em;
	height: 100%;
	padding-bottom: 5em;
	background: url("https://res.cloudinary.com/swy/image/upload/v1506479521/dopecollege_wro6xm.jpg") no-repeat center center fixed;
	background-size: cover;

	.jumbotron {
		background-color: transparent;
		position: relative;
		text-align: center;
		top: 3em;
		text-shadow: 0 .2em .3em rgba(0, 0, 0, .4);
	}
	
	.jumbotron h1 {
		color: $abi;
		font-size: 3em;
	}

	.container {
		max-width: 1000px;
	}
	
	.supporting {
		margin-top: 4em;
		text-shadow: 0 .2em .3em rgba(0, 0, 0, .4);
	}
	
	.supporting .col-md-4 {
		text-align: center;
		color: $abi;
		margin-bottom: 4em;
	}
	
	.supporting h2 {
		font-size: 2em;
	}
	
	.supporting p {
		font-size: 1.2em;
	}
	
	.enquiries-div {
		position: relative;
		top: 8em;
		text-align: center;
	}
	
	.btn-default {
		background: $ady;
		border: none;
		border-radius: .3em;
		color: $white;
		font-size: 1em;
		letter-spacing: .2em;
		padding: 1em 3em;
		margin-bottom: 10em;
	}	
}


.banner,
.supporting {
  text-align: center;
  padding-top: 40px;
}

.banner h3 {
  margin: 0;
  padding: 0;
}

.section h3 {
  font-size: 30px;
  margin: 0;
	padding: 0;
	text-align: center;
}

.banner {
  background-color: $afq;
  height: 12em;
  color: $white;
}

.section .btn {
  background-color: $acs;
  border: 0;
  margin-top: 2em;
  color: $white;
}

.section h4 {
  color: $afk;
  margin: 1em 0;
  padding: 0;
  font-size: 1.3em;
}

.section ul {
  list-style-type: none;
  padding: 0;
}


