@import 'variables';

div.loggedhome {
  display: flex;
  position: relative;
	background: $white;
	margin-top: 3.5em;
	margin-bottom: 0;
	height: 100%;
	
	.loggedhome-main {
		flex: 3;
		height: 100%;
		width: 100%;

		h3 {
			color: $aed;
			text-align: center !important;
		}
	}

	.sidebar-div {
		flex: 1;
		border-left: .3em solid $gray;
		border-right: .3em solid $gray;
	}
}

.community-page {
	margin: 3em 2em 2em;
	display: flex;
	flex-wrap: wrap;
}

.attention-page {
	margin: 5em;
	padding: 2em;
	border: 1em solid whitesmoke;
	font-weight: 700;

	h2 {
    text-align: center;
	}
}


// subhome page
.subhome-main {
	h4 {
		text-align: center;
	}
}

.subhome-header {
	text-align: center;
	margin-top: 1em; 	
}

div.attention-page {
	text-align: left;

	code {
		color: $black;
	}
}