@import 'variables';

div.loggedhome {
  display: flex;
  position: relative;
	background: $white;
	margin-top: 3.5em;
	margin-bottom: 0;
	// height: 45em;
	height: 100%;
	
	// background: gray; /* For browsers that do not support gradients */
	// background: -webkit-linear-gradient(left top, #F4F6F7, #B2C8D6); 
	// background: -o-linear-gradient(bottom right, #F4F6F7, #B2C8D6); 
	// background: -moz-linear-gradient(bottom right, #F4F6F7, #B2C8D6);
	// background: linear-gradient(to bottom right, #F4F6F7, #B2C8D6); /* Standard */
	
	
	.loggedhome-main {
		flex: 3;
		height: 100%;
		width: 100%;

		h3 {
			color: $aed;
			text-align: center !important;
			// text-align: center;
		}
	}

	// aside.loggedhome-sidebar {
	// 	flex: 2;
	// 	max-height: 1000px;
  // }

	.sidebar-div {
		flex: 1;
		border-left: .3em solid $gray;
		border-right: .3em solid $gray;
	}
}

.community-page {
	margin: 3em 2em 2em;
	display: flex;
	flex-wrap: wrap;
}

.attention-page {
	margin: 5em;
	padding: 2em;
	border: 1em solid whitesmoke;
	font-weight: 700;

	h2 {
    text-align: center;
	}
}

.subhome-header {
	text-align: center;
	margin-top: 1em; 
	hr {
		width: 80%;

	}
}

div.attention-page {
	text-align: left;

	code {
		color: $black;
	}
}