@import 'variables';

div.loggedhome {
  display: flex;
  position: relative;
	background: white;
	margin-top: 3.5em;
	margin-bottom: 0;
	min-height: 1000px;
	
	background: gray; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #F4F6F7, #B2C8D6); 
	background: -o-linear-gradient(bottom right, #F4F6F7, #B2C8D6); 
	background: -moz-linear-gradient(bottom right, #F4F6F7, #B2C8D6);
	background: linear-gradient(to bottom right, #F4F6F7, #B2C8D6); /* Standard */
	
	
	.placeholder-text2 {
		flex: 3;

		h3 {
			color: $aed;
			text-align: center !important;
			text-align: center;
		}
	}

	aside.loggedhome-sidebar {
    flex: 2
  }

	.sidebar-div {
		flex: 1;
		// border-left: 3px solid lavender;
		border-left: 1px solid $gray;
	}
}

.community-page {
	margin: 2em;
	display: flex;
	flex-wrap: wrap;
}

.attention-page {
	margin: 5em;
	padding: 2em;
	border: 1em solid whitesmoke;
	font-weight: 700;

	h2 {
    text-align: center;
	}
}