@import 'variables';

div.loggedhome {
  display: flex;
  position: relative;
	background: white;
	margin: 3.1em auto 4em;
	
	.placeholder-text2 {
		flex: 3;

		h3 {
			color: $aed;
			text-align: center !important;
			text-align: center;
		}
	}

	.sidebar-div {
		flex: 1;
		border-left: 3px solid lavender;
		border-left: 3px solid $gray;
	}
}