@import 'variables';

.styles-overriding-css-example {
	width: 50% !important;
	margin: 0 auto !important;
	border: 2px solid #FF9800 !important;
	background-color: #ffd699 !important;
}

// .android {
// 	margin: 12px;
// }

// .android1 {
// 	background-color: #a4c639;
// }