@import 'variables';

.msg-in-header {
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
	font-size: 12px !important;
	font-weight: normal !important;
}

.message-div {
	background-color: salmon;
	width: 100%;
	height: 700px;
}

.msg-form {
	margin: auto;
}