@import 'variables';

// shared pages className
.pages {
	width: 95%;
	margin: 2em auto;
	margin-bottom: .5em !important;	
}

.course-show-msg {
	text-align: center;
	margin: auto;
}

.course-show-header {
	text-align: center;
	margin: auto;
}

.admin-home-div {
	margin: auto;
	width: 90%;
	padding: 10px;
	display: flex;
}


// messages page
.msg-in-header {
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
	font-size: 12px !important;
	font-weight: normal !important;
}

.message-div {
	background-color: $gray;
	width: 100%;
	height: 700px;
}

.msg-form {
	margin: auto;
}

//news page
.linker {
  height: 500px;
  width: 80%;
  margin-left: 10%;
  border: 5px solid black;
}

.news-show-div {
	margin-top: 5em;
}

// comments page and form
.comments-div {
	width: 99%;
	height: auto !important;
	border-radius: .2em;
	float: right;
	border: .05em solid $aab;
	text-align: center;
	padding: .5em;
	margin: .5em auto;
	box-sizing: border-box;
	p {
		text-align: left;
	}
}

.commentable {
	width: 30%;
	height: 2em;
	float: right;
	border: .1em solid $aaj;
	text-align: center;
}

.show-page-display {
	border: .15em solid $aac;
	padding: 1em;
	margin: auto 2em;
	height: auto !important; 
}

.edit-page-display {
	padding: 1em;
	margin: auto 2em;
	margin-top: 5em;
	height: auto !important; 

	h2 {
		text-align: center;
	}
}