@import 'variables';

// div.modal-test {
//   height: 300px;
//   width: 300px;
//   background: white;
// }

.ReactModal__Overlay {
  display: hidden;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(230, 230, 230, 0.8);
  width: 100%;
  height: 100%;
	transition: background 0.5s;
	

  .homepage-modal {
		width: 25em;
    height: 30em;
    background: $military-green;
    margin: auto;
    margin: 4em auto;
		border-radius: .25em;
    display: flex;
    flex-direction: column;
		transition: transform 1s;
		// justify-content: space-around;
		// justify-content: center;
		// justify-content: flex-start;
		// align-items: center;

    ul.homepage-auth {
      display: flex;
      flex-direction: column;
			margin: auto;
			box-sizing: border-box;
			// align-items: center;

      // ul {
      //   display: flex;
      //   width: 100%;
      //   align-items: center;
      //   margin: 30px 0 15px 0;

      //   p {
      //     color: gray;
      //   }

      //   // div {
      //   //   height: 1px;
      //   //   width: 100%;
      //   //   background: gray;
      //   //   margin: 0 10px;
      //   //   flex-grow: 1;
      //   // }
			// }
			p {
        width: 100%;
				text-align: left;
				margin-top: 5px !important;
			}

      // li {
      //   width: 100%;
      //   text-align: center;
			// }
			
			
			

      // h1 {
      //   margin-bottom: 20px;
      //   font-weight: 300;
      // }

      button {
        margin-top: 2em;
        width: 100%;
				background: $abh;
				height: 3em;
        color: white;
				border-radius: 3px;
				border: 2px solid #442E06;
        font-weight: 300;
        font-size: 14px;
				transition: text-shadow 0.3s;
				box-sizing: border-box;
      }

      button:hover {
        text-shadow: 0 0 5px #442E06;
      }

      input {
        margin-top: 1em;
        width: 100%;
        height: 2em;
        font-size: 14px;
        border: 1px solid #442E06;
        border-radius: 3px;
        box-shadow: none;
				transition: border 0.3s;
				padding: .5em;
				box-sizing: border-box;
      }

      input:focus {
        border: 3px solid #442E06;
        outline: none;
      }

      input::-webkit-input-placeholder {
        color: lightgray;
        font-weight: 300;
      }
    }
  }

}

div.ReactModal_Content--after-open {
  transform: translate(0, 50px);
  &:focus {
    outline: none;
  }
}

.homepage-modal:focus { outline: 0 }

.my-hr {
	width: 95%;
	margin: auto;
}

.demo-username {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	background: navajowhite
}