@import 'variables';

.pages {
	margin-top: 2em;
}

// .pages-div {
// 	width: 90%;
// }
.pages {
	// display: flex;
	// flex-direction: column;
	// background-color: #B8D386;
	// overflow-y: scroll;
	// height: calc(100% - 7em);
	// width: 100%;
	// margin-top: 2em;
	width: 75%;
	margin: 2em auto;
	position: fixed;
}

.admin-home-div {
	margin: auto;
	width: 90%;
	// border: 3px solid green;
	padding: 10px;
	display: flex;
}