@import 'variables';

li.nav-user {
  position: relative;

  p.user {
    position: relative;
		width: 100%;
		margin-top: -1em;
    z-index: 999;
    color: white;
    padding: 13px 20px;
    transition: background 0.3s;
		white-space: nowrap;
		box-sizing: border-box;

    &:hover {
      text-shadow: 0 0 3px white;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

  }

  p.active.user {
    z-index: 999;
  }

}

ul#user-settings {
  position: absolute;
  z-index: -10;
	left: -5px;
	top: -295px;
  flex-direction: column;

  width: 100%;
	height: 200px;
  justify-content: flex-end;
  background: #444;
  display: hidden;

  transition: transform 0.3s;

  &.active {
    display: flex;
    position: absolute;
    transform: translateY(219px);
    z-index: -100;
  }

  li {
    padding: 10px 10px 5px 5px;
    text-shadow: 0 0 0;
    text-align: left;
    font-size: 13px;
    height: 10px;
    width: initial;

    a {
      padding: 0;
		}
		
  }

  li:hover {
    cursor: pointer;
	}
	
	li#signout {
		padding-bottom: 10px;
	}
}
