@import 'variables';

li.nav-user {
  position: relative;

  p.user {
    position: relative;
		width: 100%;
		margin: -1em 1em 0 3em;
    z-index: 999;
    color: white;
    padding: 13px 20px;
    transition: background 0.3s;
		white-space: nowrap;
		box-sizing: border-box;

    &:hover {
      text-shadow: 0 0 3px white;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

  }

  p.active.user {
    z-index: 999;
  }

}

ul#user-settings {
  position: absolute;
  z-index: -10;
	top: -11em;
	flex-direction: column;
	margin-left: 3em;

  width: 51%;
	height: 10em;
  justify-content: flex-end;
	background: #444;
  display: hidden;

  transition: transform 0.3s;

  &.active {
    display: flex;
    position: absolute;
		transform: translateY(12.5em);
    z-index: -100;
  }

  li {
    padding: 1em .5em;
    text-shadow: 0 0 0;
    text-align: left;
    font-size: .8em;
		height: .8em;
		margin-left: -1em;
    // width: initial;

    a {
      padding: 0;
		}
		
  }

  li:hover {
    cursor: pointer;
	}
	
	li#signout {
		padding-bottom: 1.5em;
	}
}
