@import 'variables';

.profile-nav {
  text-align: center;
  margin-bottom: 1.5em;
}

.profile-nav a {
  font-size: .85em;
  color: $black;
  padding: .2em .8em;
  border-radius: .25em;
  background: $acz;
  transition: .2s;
}

.profile-nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
    *display: inline;
}
.profile-nav li {
  float: left;
  margin-left: 1.5em;
}

.profile-nav a:hover,
.profile-nav a.active {
  color: $white;
  background: $afl;
}