@import 'variables';

.search {
  float: right;
  margin: 25px 0 0 0;
}

.search-form input {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #fff;
  color: #fff;
  height: 30px;
  width: 240px;
}

.search-form input:hover,
.search-form input:focus {
  border-bottom: 1px solid #1a77ff;
  outline: 0px;
}

.search-btn {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #1a77ff;
  color: #fff;
  height: 30px;
  margin: 0 0 0 10px;
  padding: 0 10px;
}