@import 'variables';

.search-form input {
  background: $afg;
  border: 0px;
  border-bottom: .1em solid $adx;
  color: $black;
  height: 2.5em;
	width: 16em;
	padding: .5em;
}

.search-form input:hover,
.search-form input:focus {
  border-bottom: .1em solid $aed;
  outline: 0px;
}

.search-btn {
  background: transparent;
  border: 0px;
  border-bottom: .1em solid $aed;
  color: whitesmoke;
  height: 2.5em;
  margin: 0 0 0 1em;
  padding: 0 1em;
}