@import 'variables';

input.search {
	width: 100%;
	margin: auto 1.5em;
	box-sizing: border-box;
	border: .2em solid $aeo;
	border-radius: .2em;
	font-size: 1em;
	background-color: $white;
	background-image: url('https://res.cloudinary.com/swy/image/upload/v1503358374/search-icon_ot5xw2.png');
	background-position: right .5em center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: .4em 1em;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	outline: none;
	transition: background 0.5s;

	&:focus{ 
		background-color: $white;
	}
}