@import 'variables';

header {
  display: flex;
  justify-content: space-between;

  p {
    padding: .5em;
  }

  ul {
    display: flex;

    li {
      padding: .5em;
      margin: .5em;
    }
  }
}

header.shared-header {
	display: flex;
  height: 4.5em;
  width: 100%;
	background: $abz;
  color: white;
  font-size: 14px;
	padding: 1em .5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  nav.navigation {
    width: 99.5%;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
    justify-content: center;
		font-weight: 300;
		display: flex;

    ul li a {
      text-decoration: none;
      color: $white;
      margin: 0;
			padding: 0.5em;
			flex: 1;

      &.active {
        border-bottom: none;
      }

      &:hover {
        text-shadow: 0 0 3px $aquamarine;
        cursor: pointer;
        border-bottom: 0;
      }
    }

    ul {
      &:first-child li {
        text-align: center;
      }
    }

    li {
      margin: 0;
      padding: 0;
      text-align: center;
			// width: 94px;
			width: 6.6em;
      display: flex;
      flex-direction: column;
    }

    ul:last-child {
      li {
          border: none;
          width: 100%;
          display: flex;
          flex-direction: inherit;

        a {
          margin: 0;
          padding: 1em 1.5em;
        }
      }
    }

    // li.home-logo {
    //   height: 65%;
    //   width: 70px;
    //   margin-top: 20px;
    //   margin-right: 10px;
    //   padding: 0;

    //   display: flex;
    //   justify-content: center;

    //   img {
    //     width: 100%;
    //   }
    // }

    ul.searchbar {
      display: flex;
      justify-content: center;
      flex: 1;
      height: 3.5em;
      align-items: center;
      margin: 0 .3em .5em .5em;
    }
  }

  .active {
		border-radius: .2em;
  }
}