@import 'variables';

// main sidebar
aside.loggedhome-sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: $aej;
	overflow-y: scroll;
	height: calc(100% - 10em);
	width: 25%;
	
	.sidebar-header {
		text-align: center;
		margin-top: .5em;
		color: $black;
		border: .5em solid $white;
		// width: 50%;
		// margin: 1em auto;
		padding: .5em 2em;
	}

	div.chat-area {
		position: fixed;
		bottom: 0;
		flex: 1;
		background-color: $white !important;
		border: 5px solid black;
		box-sizing: border-box;
		width: 24.8%;
		height: 7em;

		ul {
			margin: 1em auto;
			text-align: center;
		}
	}

}

//sidebar user page
div.sidebar-user-img {
	display: flex;
	width: 5em;
	height: 5em;
	margin: 3em 2em;


	div img {
		width: 100%;
		max-height: 100%;
	}

	div.clickable-username {
		margin-top: .5em;
		text-align: center;
	}	
}