@import 'variables';

aside.loggedhome-sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: $aej;
	overflow-y: scroll;
	height: calc(100% - 10em);
	width: 100%;

	.sidebar-header {
		text-align: left;
		// margin-top: .1em;
		color: $black;
		border: .5em solid $white;
		// width: 50%;
		// margin: 1em auto;
		padding: .5em 2em;
	}

	div.chat-area {
		position: fixed;
		bottom: 0;
		flex: 1;
		background-color: $white !important;
		border: 5px solid black;
		box-sizing: border-box;
		width: 99%;
		height: 7em;

		ul {
			margin: 2em auto;
		}
	}

}

div.sidebar-user-img {
	display: flex;
	width: 75px;
	height: 75px;
	margin: 3em;


	div.clickable-username {
		margin-top: .2em;
		text-align: center;
	}
	
	div img {
		width: 100%;
		max-height: 90%;
	}
}