@import 'variables';

aside.loggedhome-sidebar {
	display: flex;
	flex-direction: column;
	background-color: #86BFD3;
	overflow-y: scroll;
	height: calc(100%);
	// height: calc(100% - 100px);
	width: 100%;

	div.chat-area {
		// position: fixed;
		bottom: 0;
		flex: 1;
		right: 0.1em;
		border: 1px solid black;
		// margin: .1em .01em 0;
		background-color: white !important;
		box-sizing: border-box;

		.chatbox {
			
		}
	}

}