@import 'variables';

.user-page {
	margin-left: 5em;
}

main > div:first-child {
	display: flex;
	flex-direction: column;
}

.img-gallery {
  margin: auto;
  /* height: 250px; */
	margin: 20px;
	
  display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

img {
  /* width: 350px;
  height: 200px; */
  border: 1px solid #ddd;
  border-radius: 4px;
}

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.gallery {
  margin: auto;
  border: 5px solid #ccc;
  float: left;
  width: 180px;
  padding: 5px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


input:focus {
  background: salmon;
}